button{
    width: 75%;
    height: 95%;
    border-radius: 50px;
    border: none;
    background-color: #444;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: #666;
}
button:active{
    background-color: #888;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #222;
    color: #ddd;
}
body{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}
.operator-btn{
    background-color: #f90;
}
.operator-btn:hover{
    background-color: #fb0;
}
.operator-btn:active{
    background-color: #fd0;
}